<div class="miscellaneous">
  <h4>Awards</h4>
  <ul>
    <li>China National Scholarship, 2023</li>
  </ul>

  <h4>Journal Reviewer</h4>
  <ul>
    <li>Information Fusion</li>
    <li>IEEE Sensors Journal</li>
  </ul>
</div>
